{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="content">
    <div class="contentContainer">
        <div class="quoteOfDay">
            <div class="quoteOfDayPlacement">
                <span class="quote320">
                  <h2>Welcome to the archives of the weekly dose.</h2>
                  <span class="quoteAuthor">From the human.space team, with Love</span>
                </span>
                <span class="quote768">
                  <h1>Welcome to the archives of the weekly dose.</h1>
                  <span class="quoteAuthor">From the human.space team, with Love</span>
                </span>
                <!-- <span class="quote768"><h2>Transparency & radical honesty are principles we've trained ourselves to live by. Here, you'll learn about our journey to live from the heart & fulfill our dream: Help the world live with purpose.</h2><span class="quoteAuthor">From Maat, with Love</span></span> -->
            </div>
        </div>

        {{#foreach posts}}

            {{!-- The tag below includes the markup for each post - partials/feed-post.hbs --}}
            {{> "feed-post"}}

        {{/foreach}}

<div class="bottom">
    <div class="bottomPlacement">
        <div class="all material">
            <span class="copyBottom">Never miss a Weekly Dose:<br>Receive it straight to your Messenger app<br>with the help of our awesome little bot</span>
            <div class="socialMediaBottom">
                <div class="allThreeIcons">
                    <!-- <a target="_blank" href="https://www.youtube.com" class="youtubeBtm"><img class="socialIconsBtm" src="../../assets/img/Youtube-lilac.svg" alt=""></a> -->
                    <a target="_blank" href="https://www.m.me/weekly.dose.delivery?ref=of.course" class="instagramBtm"><img class="socialIconsBtm" src="img/Dose.png" alt=""></a>
                    <!-- <a target="_blank" href="https://www.behance.net" class="behanceBtm"><img class="socialIconsBtm" src="../../assets/img/Behance-lilac.svg" alt=""></a> -->
                </div>
            </div>

        </div>
    </div>
</div>
